# flyctl launch added from  .gitignore
**\.env


**\__pycache__
**\*.pyc
**\.env
**\venv

**\__pycache__
**\*.pyc
**\*.pyo
**\*.pyd

**\.env
**\.env.*

**\venv
**\.venv

**\*.log

**\tests
**\scripts
**\*.bak
fly.toml
